@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 222 84% 5%;

        --secondary: 210 40% 96%;
        --secondary-foreground: 215 16% 47%;
    }

    .dark {
        --background: 200 6% 10%;
        --foreground: 210 40% 98%;

        --secondary: 210 6% 13%;
        --secondary-foreground: 39 6% 47%;
    }
}

@layer components {
    .btn {
        @apply rounded-lg px-4 py-2 text-sm outline-none;
    }

    .btn-primary {
        @apply bg-primary-default text-white transition-all hover:bg-primary-dark focus:bg-primary-dark focus:outline-none focus:ring-4 focus:ring-primary-default/15;
    }

    .btn-danger {
        @apply bg-danger-default text-white transition-all hover:bg-danger-dark focus:bg-danger-dark focus:outline-none focus:ring-4 focus:ring-danger-default/15;
    }

    .btn-success {
        @apply bg-success-default text-white transition-all hover:bg-success-dark focus:bg-success-dark focus:outline-none focus:ring-4 focus:ring-success-default/15;
    }

    .btn-secondary {
        @apply border border-secondary-default bg-background text-foreground transition-all hover:bg-secondary-default focus:bg-secondary-default focus:ring-2 focus:ring-secondary-default focus:ring-offset-2 focus:ring-offset-background;
    }

    .btn-link {
        @apply text-sm text-secondary-foreground hover:text-foreground hover:underline focus:text-foreground focus:underline;
    }

    .btn-close {
        @apply text-2xl p-1;
    }

    .form-control {
        @apply rounded-lg border border-gray-200 bg-background text-foreground outline-none transition-all focus-within:border-primary-default focus-within:ring-4 focus-within:ring-primary-default/15 dark:border-gray-500/25 dark:focus-within:border-primary-default;
    }

    .form-control:disabled,
    .form-control[aria-disabled="true"] {
        @apply cursor-not-allowed bg-secondary-default/25 focus-within:border-gray-200 focus-within:ring-0 dark:focus-within:border-gray-500;
    }

    :has(.form-control + p.text-danger-default)>.form-control {
        @apply border-danger-default focus-within:ring-danger-default/15;
    }

    .checkbox {
        @apply rounded border border-gray-200 bg-background text-primary-default !outline-none transition-all focus:border-primary-default focus:ring-2 focus:ring-primary-default/15 focus:ring-offset-2 focus:ring-offset-background dark:border-gray-500/25;
    }
}
