.epr_-to8mm {
    @apply !rounded-2xl border !border-secondary-default;
}

.epr_x558go {
    @apply -mt-0.5 !bg-secondary-default !outline-none !ring-0 transition-all;
}

.epr_x558go:focus {
    @apply border !border-primary-default;
}
